<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name</label>
    <input type="text" class="form-control" name="first_name" value="{{this.first_name}}" placeholder="First Name">
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Last Name</label>
    <input type="text" class="form-control" name="last_name" value="{{this.last_name}}" placeholder="Last Name">
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" value="{{this.email}}" placeholder="email@gmail.com">
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Phone</label>
    <input type="text" class="form-control" name="phone" value="{{this.phone}}" placeholder="Phone Numbers">
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Comments</label>
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comments"
        style="height: 100px">{{this.comments}}</textarea>
</div>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Status</label>
    <input type="text" class="form-control" name="status" value="{{this.status}}" placeholder="Status">
</div>

<div class="mb-3">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>